rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /user_settings/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /user_chats/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /messages/{messageId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
